:root {
    --black: #000000;
    --darkgrey: #272F30;
    --grey: #7B8789;
    --orange: #ED8B00;
    --white: #FFFFFF;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton';

}

a {
    text-decoration: none;
}

/*---- HEADER ----*/
header{
    background-image: url(../images/fond-down2.jpg);
    padding: 2rem 0;

    & p,a {
    color: var(--white);
    text-decoration: none;
    }

    & a:hover {
        color: var(--orange);
    }

    & h1, h2 {
        color: var(--white);
        margin-top: 0.5rem;
    }
}

/*---- MAIN ----*/
section {
    margin: 2rem 0;
}

/*-- Navigation --*/
nav {
    background-color: var(--orange);
}

/* PAGE INDEX */
/*-- Section Caroussel --*/

/*-- Section 3Cards --*/
.section-color {
    background-color: var(--grey);
    padding: 2rem 0;
}

.section3__card {
    background-color: var(--orange);
}

#section3cards h4 {
    color: var(--white);
}

#section3cards a {
   text-decoration: none;
}


/* PAGE NEUF */

/* PAGE CONTACT */
/*-- Section representants --*/
/*-- fonctionne pas --*/
.accordion-button:not(.collapsed) {
    color: var(--white);
    background-color: var(--orange);
}

.accordion-button:focus {
    border-color: var(--orange);
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

/*-- Section Formulaire --*/
.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: green;
}

.input-control.error input{
    border-color: red;
}

/* Message d'erreur */
.input-control .errorMessage {
    color: red;
    font-size: 9px;
    height: 13px;
}


/*---- FOOTER ----*/
footer{
        /*faire un extend du header*/
    background-color: #272F30;
    padding: 2rem 0;

    & p,a,hr {
    color: #ffffff;
    text-decoration: none;
    }

    & a:hover {
        color: #ed8b00;
    }
}

